<div class="date-position">
    <label for="fromDate">From date</label>
    <input type="date" class="form-control"
           id="fromDate"
           required
           [(ngModel)]="model.fromDate" name="fromDate">
    <label for="toDate">From date</label>
    <input type="date" class="form-control"
           id="toDate"
           required
           [(ngModel)]="model.toDate" name="toDate">
    <button (click)="onFilterTracker()">show trackers</button>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <ul class="pricing-table-list">
                    <li>User id</li>
                    <li>Id</li>
                    <li>Title</li>
                    <li>Body</li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <ul class="pricing-table-list">
                    <li>{{post?.userId}}</li>
                    <li>{{post?.id}}</li>
                    <li>{{post?.title}}</li>
                    <li>{{post?.body}}</li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">

            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Hits</th>
                        <th>Date</th>
                    </tr>
                    <tr *ngFor="let track of trackers">
                        <td>{{track?.id}}</td>
                        <td>{{track?.hits}}</td>
                        <td>{{track?.date}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
